{% extends 'front/baseforotherpage.html.twig' %}

{% block Content2 %}
<div class="rw-container rw-section">
    <div class="rw-inner clearfix">

        <!-- Main content -->
        <div class="rw-column rw-content">

            <div class="rw-row page-title">
                <div class="grid-container">
                    <div class="grid desk-6 mob-6 alpha">
                        <h1>Andrei</h1>
                    </div>
                    <div class="grid desk-6 mob-6 omega">
                        <a href="#" class="follow-user button primary right not-allowed" data-theme="red" data-id="2" title="Please log in to follow this user.">
                            <i class="fa fa-plus"></i> <span class="text">Follow</span>
                        </a>                        </div>
                </div>

            </div>

            <div class="rw-row subtle">
                <div class="grid-container">

                    <div class="grid desk-12">
                        <ul class="profile-mini-menu">
                            <li class="active"><a href="#user-summary">Summary</a></li><li><a href="#user-send-pm">Send PM</a></li>            </ul> <!-- .profile-mini-menu -->
                    </div>
                    <div class="clear"></div>


                    <div class="grid desk-3">
                        <div class="profile-avatar">
                            <a href="https://gustos.w3.style/author/andrei/"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-256x256.jpg" class="avatar avatar-256 photo"></a>


                        </div> <!-- .profile-avatar -->
                    </div>

                    <div class="grid desk-9">

                        <div id="user-summary" class="profile-user-tab active">
                            <div class="grid desk-6 alpha">
                                <ul class="profile-rows">
                                    <li>
                                        <i class="the-icon fa fa-cutlery"></i>
                                        <span class="the-label">Cooking Level: </span>
                                        <span class="the-value mark" style="background-color: #a1b809">Intermediate</span>                                </li>


                                    <li>
                                        <i class="the-icon fa fa-history"></i>
                                        <span class="the-label">Last visit: </span>
                                        <span class="the-value mark light-gray" title="30 June 2020 16:05:32">8 months ago</span>
                                    </li>


                                    <li>
                                        <i class="the-icon fa fa-child"></i>
                                        <span class="the-label">Member since: </span>
                                        <span class="the-value mark light-gray">06 June 2020</span>
                                    </li>


                                    <li>
                                        <i class="the-icon fa fa-eye"></i>
                                        <span class="the-label">Profile views: </span>
                                        <span class="the-value mark light-gray">734</span>
                                    </li>






                                </ul>
                            </div>
                            <div class="grid desk-6 omega">
                                <div class="following-block clearfix">
                                    <div class="follow-col reputation">
                                        <div class="follow-col-in">
                                            <a href="https://gustos.w3.style/author/andrei/?profile-section=reputation"><span class="count">250</span><span class="title">Reputation</span></a>
                                        </div>
                                    </div>

                                    <div class="follow-col followers">
                                        <div class="follow-col-in">
                                            <a href="https://gustos.w3.style/author/andrei/?profile-section=followers"><span class="count">0</span><span class="title">followers</span></a>
                                        </div>
                                    </div>


                                    <div class="follow-col following">
                                        <div class="follow-col-in">
                                            <a href="https://gustos.w3.style/author/andrei/?profile-section=following"><span class="count">0</span><span class="title">Following</span></a>
                                        </div>
                                    </div>


                                </div>
                                <div class="clear"></div>



                            </div>
                            <div class="clear"></div>
                        </div> <!-- #user-summary -->


                        <div id="user-send-pm" class="profile-user-tab">
                            <div class="tab-inner">
                                <div class="notification super-light orange"><a href="/author/andrei/?profile-summary=comments&amp;auth=login">Please login to send a message to Andrei</a></div>			<form method="post" class="private-messaging-form">
                                    <div class="form-label">
                                        Send private message to Andrei				</div>
                                    <div class="form-description">Press Ctrl + Enter to send the message.</div>				<div class="response-message"></div>
                                    <textarea name="message" class="private-messaging-textarea"></textarea>
                                    <input type="hidden" name="sender" value="0">
                                    <input type="hidden" name="receiver" value="2">
                                    <input type="hidden" name="private_message" value="create">
                                    <input type="hidden" id="_wpnonce" name="_wpnonce" value="44c6f91176"><input type="hidden" name="_wp_http_referer" value="/author/andrei/?profile-summary=comments">				<div class="private-messaging-footer clearfix">
                                        <input class="button primary private-messaging-button" value="Send message" disabled="" type="submit">
                                    </div>
                                </form>
                            </div>
                            <div class="clear"></div>
                        </div> <!-- #user-send-pm -->

                    </div>
                    <div class="clear"></div>


                </div> <!-- .grid-container -->
            </div> <!-- .rw-row -->


            <div class="rw-row subtle border-bottom profile-main-menu-block">
                <div class="grid-container">
                    <div class="grid desk-12">
                        <div class="profile-main-menu">
                            <ul>
                                <li><a href="https://gustos.w3.style/author/andrei/?profile-summary=activity"><span class="title">Activity</span></a></li><li><a href="https://gustos.w3.style/author/andrei/?profile-summary=recipes"><span class="title">Recipes</span><span class="count">5</span></a></li><li><a href="https://gustos.w3.style/author/andrei/?profile-summary=favorites"><span class="title">Favorites</span><span class="count">0</span></a></li><li><a href="https://gustos.w3.style/author/andrei/?profile-summary=likes"><span class="title">Likes</span><span class="count">0</span></a></li><li class="active"><a href="https://gustos.w3.style/author/andrei/?profile-summary=comments"><span class="title">Comments</span><span class="count">9</span></a></li>                                        </ul>
                        </div>
                    </div>
                </div> <!-- .grid-container -->
            </div> <!-- .rw-row -->

            <div class="rw-row profile-summary-tab">
                <div class="profile-comments-list">
                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong>Andrei</strong>
											commented on                                            <a href="https://gustos.w3.style/recipes/perfect-burger-recipe/">Perfect Burger Recipe</a>
										</span>
                                <span class="comment-date">30 November 2016, 13:36</span>
                            </div>
                            <div class="text">Excellent recipe. I always wanted to learn how to prepare ...</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong>Andrei</strong>
											commented on                                            <a href="https://gustos.w3.style/recipes/dutch-baby/">Dutch Baby</a>
										</span>
                                <span class="comment-date">29 August 2016, 17:15</span>
                            </div>
                            <div class="text">Missing some ingredients.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong>Andrei</strong>
											commented on                                            <a href="https://gustos.w3.style/recipes/magic-bars-2/">Magic Bars</a>
										</span>
                                <span class="comment-date">29 August 2016, 17:14</span>
                            </div>
                            <div class="text">Delicious. This recipe is one of my favorites. 4 stars from me. Not 5 because instructions are a bit confusing.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong>Andrei</strong>
											commented on                                            <a href="https://gustos.w3.style/recipes/simple-cheese-omelette/">Simple Cheese Omelette</a>
										</span>
                                <span class="comment-date">29 August 2016, 17:14</span>
                            </div>
                            <div class="text">Delicious. This recipe is one of my favorites. 4 stars from me. Not 5 because instructions are a bit confusing.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong>Andrei</strong>
											commented on                                            <a href="https://gustos.w3.style/recipes/pork-steak-with-mushrooms/">Pork Steak with Mushrooms</a>
										</span>
                                <span class="comment-date">29 August 2016, 17:12</span>
                            </div>
                            <div class="text">Delicious. This recipe is one of my favorites.5 stars from me.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong></strong>
											commented on                                            <a href="https://gustos.w3.style/2016/04/05/nothing-is-more-beautiful-than-the-loveliness-of-the-woods-before-sunrise/">Nothing is more beautiful than the loveliness of the woods before sunrise.</a>
										</span>
                                <span class="comment-date">19 August 2016, 22:28</span>
                            </div>
                            <div class="text">

                                Nec vero pietas adversus deos nec quanta iis gratia debeatur sine explicatione naturae intellegi potest.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong></strong>
											commented on                                            <a href="https://gustos.w3.style/2016/07/23/in-a-gentle-way-you-can-shake-the-world/">In a gentle way, you can shake the world.</a>
										</span>
                                <span class="comment-date">16 August 2016, 18:21</span>
                            </div>
                            <div class="text">Nam si beatus umquam fuisset, beatam vitam usque ad illum a Cyro extructum rogum pertulisset. Duo enim genera quae erant, fecit tria.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong></strong>
											commented on                                            <a href="https://gustos.w3.style/2016/02/28/what-makes-the-desert-beautiful-is-that-somewhere-it-hides-a-well/">What makes the desert beautiful is that somewhere it hides a well.</a>
										</span>
                                <span class="comment-date">21 July 2016, 07:56</span>
                            </div>
                            <div class="text">Ratio ista, quam defendis, praecepta, quae didicisti, quae probas, funditus evertunt amicitiam, quamvis eam Epicurus, ut facit, in caelum efferat laudibus. Refert tamen, quo modo.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong></strong>
											commented on                                            <a href="https://gustos.w3.style/2016/02/28/what-makes-the-desert-beautiful-is-that-somewhere-it-hides-a-well/">What makes the desert beautiful is that somewhere it hides a well.</a>
										</span>
                                <span class="comment-date">14 June 2016, 21:14</span>
                            </div>
                            <div class="text">Ergo opifex plus sibi proponet ad formarum quam civis excellens ad factorum pulchritudinem? Quod si ita est, sequitur id ipsum, quod te velle video, omnes semper beatos esse sapientes.</div>
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>
                <div class="clear"></div>                        </div> <!-- .rw-row -->


        </div> <!-- .rw-content -->
    </div> <!-- .rw-inner -->
</div>
{% endblock %}