{% extends 'back/base.html.twig' %}
{% block Content %}




<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Circle Style</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Page</a>
                            </li>
                            <li class="breadcrumb-item active">Form Wizard Circle Steps
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-4 col-12">
                <div class="btn-group float-md-right">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-settings mr-1"></i>Action</button>
                    <div class="dropdown-menu arrow"><a class="dropdown-item" href="#"><i class="fa fa-calendar mr-1"></i> Calender</a><a class="dropdown-item" href="#"><i class="fa fa-cart-plus mr-1"></i> Cart</a><a class="dropdown-item" href="#"><i class="fa fa-life-ring mr-1"></i> Support</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fa fa-cog mr-1"></i> Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body"><!-- Form wizard with number tabs section start -->
            <section id="number-tabs">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Form wizard with number tabs</h4>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <form action="#" class="number-tab-steps wizard-circle">

                                        <!-- Step 1 -->
                                        <h6>Step 1</h6>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="firstName1">nom :</label>
                                                        <input type="text" class="form-control" id="firstName1" >
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <h5>Basic Selectize input</h5>
                                                    <p>Add <code>.input-selectize</code> class to input field and add value comma saperated. </p>
                                                    <input type="text" class="input-selectize" value=
                                                    {% for k in classroom %}
                                                    "{{ k.nomCategorie }}"
                                                            {% if not  {{ loop.first }}  %}
                                                                ,
                                                            {% endif %}
                                                            {% endfor %}

                                                    >
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="firstName1">code a barre :</label>
                                                        <input type="text" class="form-control" id="firstName1" >
                                                    </div>
                                                </div>

                                            </div>

                                        </fieldset>



                                        <!-- Step 2 -->
                                        <h6>Step 2</h6>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="meetingName1">Name of Meeting :</label>
                                                        <input type="text" class="form-control" id="meetingName1" >
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="meetingLocation1">Location :</label>
                                                        <input type="text" class="form-control" id="meetingLocation1" >
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="participants1">Names of Participants</label>
                                                        <textarea name="participants" id="participants1" rows="4" class="form-control"></textarea>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="decisions1">Decisions Reached</label>
                                                        <textarea name="decisions" id="decisions1" rows="4" class="form-control"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Agenda Items :</label>
                                                        <div class="c-inputs-stacked">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" name="agenda1" class="custom-control-input" id="item11">
                                                                <label class="custom-control-label" for="item11">1st item</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" name="agenda1" class="custom-control-input" id="item12">
                                                                <label class="custom-control-label" for="item12">2nd item</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" name="agenda1" class="custom-control-input" id="item13">
                                                                <label class="custom-control-label" for="item13">3rd item</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" name="agenda1" class="custom-control-input" id="item14">
                                                                <label class="custom-control-label" for="item14">4th item</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" name="agenda1" class="custom-control-input" id="item15">
                                                                <label class="custom-control-label" for="item15">5th item</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

{% endblock %}
    {% block pageJS %}
        <script src="back/js/scripts/forms/wizard-steps.min.js"></script>
        <script src="back/js/scripts/forms/select/form-selectize.min.js"></script>
    {% endblock %}
