<!DOCTYPE html>

<title>New BlogPost</title>

{% block body %}
    <h1>Create new BlogPost</h1>

    {{ include('blog_post/_form.html.twig') }}

    <a href="{{ path('blog_post_index') }}">back to list</a>
{% endblock %}
