:root {
    /* Colors */
    --color-accent: #288dff;
    --color-accent-lighter: #489dfd;
    --color-accent-darker: #0b6bd7;
    --color-link: var(--color-accent);
    --color-link--hover: var(--color-accent-darker);
    /*Layout*/
    --width-layout: 1440px;
    --width-sidebar: 300px;
    --color-secondary: var(--color-accent-darker);
    --color-body: #475266;
    --color-black: #06070a;
    --color-contrast-level0: #fff;
    --color-contrast-level1: #f0f3f5;
    --color-contrast-level2: #e1e4e6;
    --color-contrast-level3: #a4afb3;
    --color-contrast-level4: #475266;
    --color-contrast-level5: #242733;
    --color-button: #f5f5f5;
    --background-color-header: #2A3744;
    --color-header-text: #fff;
    --color-header-link: var(--color-header-text);
    --color-header-link-hover: var(--color-header-link);
    --background-color-submenu: var(--background-color-header);
    --color-submenu-link: var(--color-header-link);
    --color-submenu-link-hover: var(--color-submenu-link);
    --background-color-submenu-link-hover: var(--background-color-submenu);
    --background-body: #fafafa;
    --background-body--full: var(--background-body);
    --background-body--size: auto;
    --background--button: var(--color-accent);
    --background--button-hover: var(--color-secondary);
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-family-heading: var(--font-family-system);
    --font-family-body: var(--font-family-system);
    --font-size-body: 16px;
    /* Generic colors */
    --color-red: #ff6b6b;
    --color-green: #00a743;
    /* Spacing */
    --button-padding: 16px;
    --padding-form: 1em;
    --padding-form-horizontal: 40px;
    --line-height: 1.6;
    --side-margin: 15px;
    --vertical-space-ratio: 30px;
}