{% extends 'front/baseforotherpage.html.twig' %}

{% block Content2 %}

    <!--
	// ===================================^__^=================================== //
	   Content
	// ===================================^__^=================================== //
	-->

    <div class="rw-section rw-container right-sidebar">
        <div class="rw-inner clearfix">

            <!-- Sidebar -->
            <div class="rw-column rw-sidebar">
                <div class="the-sidebar">
                    <aside class="widget widget_search"><form method="get" class="search-form" action="https://gustos.w3.style/">
                            <input type="text" class="search-field fullwidth" name="s" placeholder="Type keyword and press enter" value="">
                        </form></aside><aside class="widget widget_recipes_list"><div class="widget-title"><h3>Recipes</h3></div><div class="widget-posts-list">		<!-- Entry -->
                            <div class="post">
                                <div class="entry-photo">
                                    <img src="https://gustos.w3.style/wp-content/uploads/2016/08/foodiesfeed.com_crunchy-sunny-side-up-eggs-with-bacon-50x50.jpg" alt="" />			</div>
                                <div class="entry-title">
                                    <a href="https://gustos.w3.style/recipes/simple-cheese-omelette/">Simple Cheese Omelette</a>
                                </div>
                                <div class="entry-controls minimal">


                                    <a data-post="179" data-settings="{&quot;tag&quot;:&quot;a&quot;,&quot;class&quot;:&quot;control entry-to-favorites&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Add to favorites&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;fa fa-heart-o\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Remove from favorites&quot;,&quot;content_remove&quot;:&quot;&lt;i class=\&quot;fa fa-heart\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_format&quot;:&quot;%text%&quot;,&quot;title_not_logged&quot;:&quot;Please log in to add this post to favorites&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:&quot;next&quot;,&quot;echo&quot;:true,&quot;total_in_title&quot;:false}" data-act="favorite" data-l="0" title="Please log in to add this post to favorites" href="#" class="smk-mark-button control entry-to-favorites"><i class="fa fa-heart-o"></i></a>					<span class="control-tip">28</span>

                                    <a data-post="179" data-settings="{&quot;tag&quot;:&quot;a&quot;,&quot;class&quot;:&quot;control entry-like&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Like&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;fa fa-thumbs-o-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Dislike&quot;,&quot;content_remove&quot;:&quot;&lt;i class=\&quot;fa fa-thumbs-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_format&quot;:&quot;%text%&quot;,&quot;title_not_logged&quot;:&quot;Please log in to like this post&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:&quot;next&quot;,&quot;echo&quot;:true,&quot;total_in_title&quot;:false}" data-act="like" data-l="0" title="Please log in to like this post" href="#" class="smk-mark-button control entry-like"><i class="fa fa-thumbs-o-up"></i></a>					<span class="control-tip">29</span>
                                    <span class="control entry-comments" title="Comments"> <i class="fa fa-comments"></i> </span>
                                    <span class="control-tip">15</span>


                                </div>
                            </div> <!-- .entry -->
                            <!-- Entry -->
                            <div class="post">
                                <div class="entry-photo">
                                    <img src="https://gustos.w3.style/wp-content/uploads/2016/08/foodiesfeed.com_colorful-sushi-in-a-black-box-50x50.jpg" alt="" />			</div>
                                <div class="entry-title">
                                    <a href="https://gustos.w3.style/recipes/ham-salad-2/">Ham Salad</a>
                                </div>
                                <div class="entry-controls minimal">


                                    <a data-post="187" data-settings="{&quot;tag&quot;:&quot;a&quot;,&quot;class&quot;:&quot;control entry-to-favorites&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Add to favorites&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;fa fa-heart-o\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Remove from favorites&quot;,&quot;content_remove&quot;:&quot;&lt;i class=\&quot;fa fa-heart\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_format&quot;:&quot;%text%&quot;,&quot;title_not_logged&quot;:&quot;Please log in to add this post to favorites&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:&quot;next&quot;,&quot;echo&quot;:true,&quot;total_in_title&quot;:false}" data-act="favorite" data-l="0" title="Please log in to add this post to favorites" href="#" class="smk-mark-button control entry-to-favorites"><i class="fa fa-heart-o"></i></a>					<span class="control-tip">14</span>

                                    <a data-post="187" data-settings="{&quot;tag&quot;:&quot;a&quot;,&quot;class&quot;:&quot;control entry-like&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Like&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;fa fa-thumbs-o-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Dislike&quot;,&quot;content_remove&quot;:&quot;&lt;i class=\&quot;fa fa-thumbs-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_format&quot;:&quot;%text%&quot;,&quot;title_not_logged&quot;:&quot;Please log in to like this post&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:&quot;next&quot;,&quot;echo&quot;:true,&quot;total_in_title&quot;:false}" data-act="like" data-l="0" title="Please log in to like this post" href="#" class="smk-mark-button control entry-like"><i class="fa fa-thumbs-o-up"></i></a>					<span class="control-tip">13</span>
                                    <span class="control entry-comments" title="Comments"> <i class="fa fa-comments"></i> </span>
                                    <span class="control-tip">7</span>


                                </div>
                            </div> <!-- .entry -->
                            <!-- Entry -->
                            <div class="post">
                                <div class="entry-photo">
                                    <img src="https://gustos.w3.style/wp-content/uploads/2016/08/foodiesfeed.com_Your-Sunny-Side-Up-2-50x50.jpg" alt="" />			</div>
                                <div class="entry-title">
                                    <a href="https://gustos.w3.style/recipes/magic-bars-2/">Magic Bars</a>
                                </div>
                                <div class="entry-controls minimal">


                                    <a data-post="126" data-settings="{&quot;tag&quot;:&quot;a&quot;,&quot;class&quot;:&quot;control entry-to-favorites&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Add to favorites&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;fa fa-heart-o\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Remove from favorites&quot;,&quot;content_remove&quot;:&quot;&lt;i class=\&quot;fa fa-heart\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_format&quot;:&quot;%text%&quot;,&quot;title_not_logged&quot;:&quot;Please log in to add this post to favorites&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:&quot;next&quot;,&quot;echo&quot;:true,&quot;total_in_title&quot;:false}" data-act="favorite" data-l="0" title="Please log in to add this post to favorites" href="#" class="smk-mark-button control entry-to-favorites"><i class="fa fa-heart-o"></i></a>					<span class="control-tip">19</span>

                                    <a data-post="126" data-settings="{&quot;tag&quot;:&quot;a&quot;,&quot;class&quot;:&quot;control entry-like&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Like&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;fa fa-thumbs-o-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Dislike&quot;,&quot;content_remove&quot;:&quot;&lt;i class=\&quot;fa fa-thumbs-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_format&quot;:&quot;%text%&quot;,&quot;title_not_logged&quot;:&quot;Please log in to like this post&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:&quot;next&quot;,&quot;echo&quot;:true,&quot;total_in_title&quot;:false}" data-act="like" data-l="0" title="Please log in to like this post" href="#" class="smk-mark-button control entry-like"><i class="fa fa-thumbs-o-up"></i></a>					<span class="control-tip">20</span>
                                    <span class="control entry-comments" title="Comments"> <i class="fa fa-comments"></i> </span>
                                    <span class="control-tip">12</span>


                                </div>
                            </div> <!-- .entry -->
                            <!-- Entry -->
                            <div class="post">
                                <div class="entry-photo">
                                    <img src="https://gustos.w3.style/wp-content/uploads/2016/08/foodiesfeed.com_toasted-sandwich-with-pickles-50x50.jpg" alt="" />			</div>
                                <div class="entry-title">
                                    <a href="https://gustos.w3.style/recipes/sesame-noodle-salad/">Sesame Noodle Salad</a>
                                </div>
                                <div class="entry-controls minimal">


                                    <a data-post="136" data-settings="{&quot;tag&quot;:&quot;a&quot;,&quot;class&quot;:&quot;control entry-to-favorites&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Add to favorites&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;fa fa-heart-o\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Remove from favorites&quot;,&quot;content_remove&quot;:&quot;&lt;i class=\&quot;fa fa-heart\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_format&quot;:&quot;%text%&quot;,&quot;title_not_logged&quot;:&quot;Please log in to add this post to favorites&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:&quot;next&quot;,&quot;echo&quot;:true,&quot;total_in_title&quot;:false}" data-act="favorite" data-l="0" title="Please log in to add this post to favorites" href="#" class="smk-mark-button control entry-to-favorites"><i class="fa fa-heart-o"></i></a>					<span class="control-tip">9</span>

                                    <a data-post="136" data-settings="{&quot;tag&quot;:&quot;a&quot;,&quot;class&quot;:&quot;control entry-like&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Like&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;fa fa-thumbs-o-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Dislike&quot;,&quot;content_remove&quot;:&quot;&lt;i class=\&quot;fa fa-thumbs-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_format&quot;:&quot;%text%&quot;,&quot;title_not_logged&quot;:&quot;Please log in to like this post&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:&quot;next&quot;,&quot;echo&quot;:true,&quot;total_in_title&quot;:false}" data-act="like" data-l="0" title="Please log in to like this post" href="#" class="smk-mark-button control entry-like"><i class="fa fa-thumbs-o-up"></i></a>					<span class="control-tip">9</span>
                                    <span class="control entry-comments" title="Comments"> <i class="fa fa-comments"></i> </span>
                                    <span class="control-tip">10</span>


                                </div>
                            </div> <!-- .entry -->



                        <div class="clear"></div><div class="clear"></div></aside>	</div> <!-- .the-sidebar -->
            </div> <!-- .rw-sidebar -->
            <!-- Main content -->
            <div class="rw-column rw-content">

                <div class="rw-row page-title single-recipe-page-title">
                    <h1>Crevette A La Marseillaise</h1>
                </div>


                <div class="rw-row">


                    <div id="post-185" class="entry style-columns clearfix post-185 smk_recipes type-smk_recipes status-publish has-post-thumbnail hentry recipe_cuisine-romanian recipe_tags-middle-eastern recipe_categories-soup recipe_ingredients-black-pepper recipe_ingredients-butter recipe_ingredients-cayenne recipe_ingredients-chopped-onion recipe_ingredients-garlic recipe_ingredients-mushrooms recipe_ingredients-olive-oil recipe_ingredients-sugar">


                        <div id="recipe-picture" class="entry-photo single-recipe-photo-cover">

                            <ul class="entry-recipe-slider">
                                <li data-thumb="https://gustos.w3.style/wp-content/uploads/2016/08/foodiesfeed.com_cooking-shrimps-with-spinach-outside-120x90.jpg"><img src="https://gustos.w3.style/wp-content/uploads/2016/08/foodiesfeed.com_cooking-shrimps-with-spinach-outside-980x653.jpg" alt="" /></li><li data-thumb="https://img.youtube.com/vi/s4BPAyljKrw/1.jpg"><div class="slider-iframe-container"><iframe title="How to Make Pork Burgers | Ground Pork Recipes | Allrecipes.com" width="700" height="394" src="https://www.youtube.com/embed/s4BPAyljKrw?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></li><li data-thumb="https://img.youtube.com/vi/k9DDjRNvjs0/1.jpg"><div class="slider-iframe-container"><iframe title="How to Make Copycat Chipotle® Chicken | Dinner Recipes | Allrecipes.com" width="700" height="394" src="https://www.youtube.com/embed/k9DDjRNvjs0?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></li>
                            </ul>
                            <div class="recipe-tools">
                                <div data-post="185" data-settings="{&quot;tag&quot;:&quot;div&quot;,&quot;class&quot;:&quot;tool like smk_theme_tooltip&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Like&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;the-icon fa fa-thumbs-o-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Dislike&quot;,&quot;content_remove&quot;:&quot;&quot;,&quot;title_format&quot;:&quot;%text% (%count%)&quot;,&quot;title_not_logged&quot;:&quot;Please log in to like this post&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:false,&quot;echo&quot;:true}" data-act="like" data-l="0" title="Please log in to like this post" class="smk-mark-button tool like smk_theme_tooltip"><i class="the-icon fa fa-thumbs-o-up"></i></div><div data-post="185" data-settings="{&quot;tag&quot;:&quot;div&quot;,&quot;class&quot;:&quot;tool favorite smk_theme_tooltip&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Add to favorites&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;the-icon fa fa-heart-o\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Remove from favorites&quot;,&quot;content_remove&quot;:&quot;&quot;,&quot;title_format&quot;:&quot;%text% (%count%)&quot;,&quot;title_not_logged&quot;:&quot;Please log in to add this post to favorites&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:false,&quot;echo&quot;:true}" data-act="favorite" data-l="0" title="Please log in to add this post to favorites" class="smk-mark-button tool favorite smk_theme_tooltip"><i class="the-icon fa fa-heart-o"></i></div>                                                                                    <a href="/recipes/crevette-a-la-marseillaise/?print_recipe=1" rel="nofollow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          class="tool print"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          title="Print (541)"><i class="the-icon fa fa-print"></i></a>
                            </div>
                        </div>


                        <div id="recipe-content"
                             class="entry-content meta-pos-right clearfix">

                            <div class="recipe-content">




                                <div class="single-recipe-ingredients">
                                    <h3 class="recipe-headlines ingredients first">Ingredients:</h3>
                                    <ul id="main-ingredients-list">
                                        <li><div class="mark-as-ok"><i class="fa fa-check"></i></div><div class="ingredient" itemprop="ingredients">Butter</div><div class="ingredient-quantity"><div class="qt"><span class="servings-val" data-original-val="1/2" data-original-char="1/2">1/2</span> Tablespoons</div><div class="qt-notes">Notes on this ingredient</div></div></li><li><div class="mark-as-ok"><i class="fa fa-check"></i></div><div class="ingredient" itemprop="ingredients">Olive Oil</div><div class="ingredient-quantity"><div class="qt"><span class="servings-val" data-original-val="2" data-original-char="2">2</span> Teaspoons</div></div></li><li><div class="mark-as-ok"><i class="fa fa-check"></i></div><div class="ingredient" itemprop="ingredients">Chopped Onion</div><div class="ingredient-quantity"><div class="qt"><span class="servings-val" data-original-val="1" data-original-char="1">1</span> Cups</div></div></li><li><div class="mark-as-ok"><i class="fa fa-check"></i></div><div class="ingredient" itemprop="ingredients">Sugar</div><div class="ingredient-quantity"><div class="qt"><span class="servings-val" data-original-val="2" data-original-char="2">2</span> Teaspoons</div><div class="qt-notes">Some notes about this ingredient here</div></div></li><li><div class="mark-as-ok"><i class="fa fa-check"></i></div><div class="ingredient" itemprop="ingredients">Garlic</div><div class="ingredient-quantity"><div class="qt"><span class="servings-val" data-original-val="50" data-original-char="50">50</span> Grams</div></div></li><li><div class="mark-as-ok"><i class="fa fa-check"></i></div><div class="ingredient" itemprop="ingredients">Cayenne</div><div class="ingredient-quantity"><div class="qt"><span class="servings-val" data-original-val="150" data-original-char="150">150</span> Grams</div></div></li><li><div class="mark-as-ok"><i class="fa fa-check"></i></div><div class="ingredient" itemprop="ingredients">Black Pepper</div><div class="ingredient-quantity"><div class="qt"><span class="servings-val" data-original-val="1/4" data-original-char="1/4">1/4</span> Teaspoons</div></div></li><li><div class="mark-as-ok"><i class="fa fa-check"></i></div><div class="ingredient" itemprop="ingredients">Mushrooms</div><div class="ingredient-quantity"><div class="qt"><span class="servings-val" data-original-val="0.5" data-original-char="0.5">0.5</span> Kilograms</div></div></li>                </ul>
                                </div>


                                <h3 class="recipe-headlines preparation-mode">Preparation mode:</h3>
                                <div itemprop="recipeInstructions">
                                    <p><strong>1)</strong> Quisque in ornare mollis urna, a pharetra lectus bibendum et. Aenean sodales cursus nulla, faucibus tempor nibh porta id. Pellentesque non nibh eros. Nunc lectus lacus, interdum et consequat et, varius sit amet ipsum. Fusce convallis, lorem sit amet bibendum accumsan, consectetur adipisicing nec mattis dui nisi a lacus. Fusce non nisl pretium tellus eleifend tincidunt id id lorem. In hac habitasse platea dictumst. Pellentesque orci libero, fringilla et ultrices ut, cursus eu ipsum. Aenean bibendum dui quis pellentesque dictum. Cras aliquet risus id nisi feugiat vulputate.</p>
                                    <p><strong>2)</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <a href="#">labore et dolore</a> a ut magna aliqua. Ut enim ad <strong>minim veniam</strong>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do est tempor incididunt ut <em>labore et dolore magna ex est aliqua</em>. Ut enim ad minim veniam, quis <del>nostrud</del> exercitation ullamco laboris. Phasellus ornare sem quis dui aliquet facilisis. Sed ipsum eros, ultricies at turpis eu, mattis dictum risus.</p>
                                    <p><strong>3)</strong> Donec id egestas eros. Aliquam eget vestibulum mauris, sed lacinia ante. Aliquam pellentesque tellus mattis mi venenatis, eget lacinia purus interdum. Etiam sed auctor neque, <a href="#">eget sodales</a> purus. Aliquam vulputate commodo erat, et accumsan libero viverra vitae. Phasellus ornare sem quis dui aliquet facilisis. Sed ipsum eros, ultricies at turpis eu, mattis dictum risus. Quisque tristique, mi ac euismod scelerisque, neque erat pharetra metus, a malesuada ligula ipsum eu dui. Praesent dapibus interdum magna.</p>
                                    <ul>
                                        <li>Love and desire are the spirit’s wings to great deeds.</li>
                                        <li>Grace is the beauty of form under the influence of freedom.</li>
                                        <li>The truth is on the march and nothing will stop it.</li>
                                    </ul>
                                    <p><strong>4)</strong> Quisque tristique, mi ac euismod scelerisque, neque erat pharetra metus, a malesuada ligula ipsum eu dui. Praesent dapibus interdum magna. Nullam in orci porttitor, faucibus orci eget, varius arcu. Sed nec elit tempus, pellentesque quam lobortis, vehicula orci. Suspendisse ac hendrerit mauris, vitae pulvinar tortor.</p>
                                </div>



                                <h3 class="recipe-headlines footnotes">Footnotes:</h3>
                                <p>Fusce non nisl pretium tellus eleifend tincidunt id id lorem. In hac habitasse platea dictumst. Pellentesque orci libero, fringilla et ultrices ut, cursus eu ipsum. Aenean bibendum dui quis pellentesque dictum. Cras aliquet risus id nisi feugiat vulputate.</p>
                                <h3 class="recipe-headlines links">Links:</h3>
                                <ul>
                                    <li><a href="http://google.com" target="_blank">Google</a></li><li><a href="http://themeforest.com" target="_blank">ThemeForest</a></li><li><a href="http://wikipedia.com" target="_blank">http://wikipedia.com</a></li>            </ul>




                            </div>
                            <div class="recipe-meta">
                                <ul class="clearfix">
                                    <li id="recipe-meta-author">
                                        <div class="entry-info-author">
                                            <a href="https://gustos.w3.style/author/andrei/"><img alt='' src='https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg' class='avatar avatar-50 photo' /></a>				<div class="author-name">
                                                <a href="https://gustos.w3.style/author/andrei/" itemprop="author">Andrei</a>				</div>
                                            <div>
                                                <a href="#" class="follow-user button mini primary not-allowed" data-theme="red"data-id="2" title="Please log in to follow this user.">
                                                    <i class="fa fa-plus"></i> <span class="text">Follow</span>
                                                </a>				</div>
                                        </div>
                                    </li>


                                    <li id="recipe-meta-date">
                                        <i class="the-icon fa fa-calendar" title="Submited on May 15, 2016"></i>
                                        <span>May 15, 2016</span>
                                    </li>


                                    <li><div><i class="the-icon fa fa-tasks" title=Difficulty></i> <span>Moderate</span></div></li>					<li>
                                        <i class="the-icon fa fa-eye" title="This recipe has been visited for 2230 times"></i>
                                        <span>2230 views</span>
                                    </li>


                                    <li><div><i class="the-icon fa fa-heart" title="Favorited by 6 users"></i> <span>6 favorites</span></div></li>


                                    <li><div><i class="the-icon fa fa-thumbs-up" title="5 like this"></i> <span>5 likes</span></div></li>




                                </ul>


                            </div>


                        </div> <!-- .entry-content -->


                        <div class="clear"></div>

                    </div> <!-- .entry -->
                    <div class="clear"></div>




                </div> <!-- .rw-row -->

                <div id="recipe-taxonomies" class="rw-row border-bottom clearfix"><div class="recipe-taxes"><span class="tax-title">Category:</span><span class="tax"><a href="https://gustos.w3.style/recipe-category/soup/" itemprop="recipeCategory">Soup</a></span></div><div class="recipe-taxes"><span class="tax-title">Tags:</span><span class="tax"><a href="https://gustos.w3.style/recipe-tag/middle-eastern/">Middle Eastern</a></span></div></div> <!-- .rw-row -->
                <div id="recipe-related" class="rw-row subtle border-bottom clearfix">
                    <div class="grid-container">

                        <div class="grid desk-6">
                            <h2 class="carousel-posts-heading">You may also like:</h2>
                        </div>
                        <div class="grid desk-6">
                            <div class="carousel-posts-nav clearfix">
                                <div class="carousel-posts-nav-next"><i class="fa fa-chevron-right"></i></div>
                                <div class="carousel-posts-nav-prev"><i class="fa fa-chevron-left"></i></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        {% for p in plats %}
                        <div class="carousel-posts clearfix">
                            <!-- Entry -->
                            <div class="entry style-columns">
                                <a href="{{ path('afficherplatfront',{'id':p.id }) }}"><div class="entry-photo">
                                        <img src="{{ asset( p.TagNourriture[0].getUrl() )}}" alt="element 01" width="460" class="float-left"> </div></a>
                                <div class="entry-title">
                                    <a href="https://gustos.w3.style/recipes/sesame-noodle-salad/">Sesame Noodle Salad</a>									</div>
                                <div class="entry-meta">
                                    <span class="date">August 13, 2016</span>
                                </div>
                                <div class="entry-content">
                                    1) Quisque in ornare mollis urna, a pharetra lectus bibendum&hellip;									</div>
                            </div> <!-- .entry -->
                            <!-- Entry -->
                            <div class="entry style-columns">
                                <a href="https://gustos.w3.style/recipes/peanut-butter-buckeyes/"><div class="entry-photo"><img src="https://gustos.w3.style/wp-content/uploads/2016/08/foodiesfeed.com_green-salad-in-a-wooden-bowl-460x460.jpg" alt="Peanut Butter Buckeyes" /></div></a>
                                <div class="entry-title">
                                    <a href="https://gustos.w3.style/recipes/peanut-butter-buckeyes/">Peanut Butter Buckeyes</a>									</div>
                                <div class="entry-meta">
                                    <span class="date">July 1, 2016</span>
                                </div>
                                <div class="entry-content">
                                    1) Quisque in ornare mollis urna, a pharetra lectus bibendum&hellip;									</div>
                            </div> <!-- .entry -->
                            <!-- Entry -->
                            <div class="entry style-columns">
                                <a href="https://gustos.w3.style/recipes/pork-steak/"><div class="entry-photo"><img src="https://gustos.w3.style/wp-content/uploads/2016/08/foodiesfeed.com_Czech-Steakhouse-23-460x460.jpg" alt="Pork Steak" /></div></a>
                                <div class="entry-title">
                                    <a href="https://gustos.w3.style/recipes/pork-steak/">Pork Steak</a>									</div>
                                <div class="entry-meta">
                                    <span class="date">May 23, 2016</span>
                                </div>
                                <div class="entry-content">
                                    1) Quisque in ornare mollis urna, a pharetra lectus bibendum&hellip;									</div>
                            </div> <!-- .entry -->
                            <!-- Entry -->
                            <div class="entry style-columns">
                                <a href="https://gustos.w3.style/recipes/pineapple-salsa-with-jicama/"><div class="entry-photo"><img src="https://gustos.w3.style/wp-content/uploads/2016/08/foodiesfeed.com_bresaola-carpaccio-rocket-leaf-460x460.jpg" alt="Pineapple Salsa with Jicama" /></div></a>
                                <div class="entry-title">
                                    <a href="https://gustos.w3.style/recipes/pineapple-salsa-with-jicama/">Pineapple Salsa with Jicama</a>									</div>
                                <div class="entry-meta">
                                    <span class="date">April 2, 2016</span>
                                </div>
                                <div class="entry-content">
                                    1) Quisque in ornare mollis urna, a pharetra lectus bibendum&hellip;									</div>
                            </div> <!-- .entry -->
                            <!-- Entry -->
                            <div class="entry style-columns">
                                <a href="https://gustos.w3.style/recipes/grilled-pork-tenderloin-with-orange-marmalade-glaze-2/"><div class="entry-photo"><img src="https://gustos.w3.style/wp-content/uploads/2016/08/foodiesfeed.com_healthy-berries-for-snack2-460x460.jpg" alt="Grilled Pork Tenderloin with Orange Marmalade Glaze" /></div></a>
                                <div class="entry-title">
                                    <a href="https://gustos.w3.style/recipes/grilled-pork-tenderloin-with-orange-marmalade-glaze-2/">Grilled Pork Tenderloin with Orange Marmalade Glaze</a>									</div>
                                <div class="entry-meta">
                                    <span class="date">March 28, 2016</span>
                                </div>
                                <div class="entry-content">
                                    1) Quisque in ornare mollis urna, a pharetra lectus bibendum&hellip;									</div>
                            </div> <!-- .entry -->
                        </div> <!-- .carousel-posts -->

                    </div>
                </div> <!-- .rw-row -->
                   <div id="all-post-comments">

{#                    <div class="rw-row border-bottom clearfix">#}
{#                        <h2>Comments: - 20</h2>#}
{#                        <div id="comments" class="comments-area">#}
{#                            <ul class="post-comments">    <li class="comment even thread-even depth-1 parent" id="comment-311">#}

{#                                    <div class="comment-avatar">#}
{#                                        <img alt='' src='https://secure.gravatar.com/avatar/cd383459d694c3b291b3899c57756733?s=80&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/cd383459d694c3b291b3899c57756733?s=160&#038;d=mm&#038;r=g 2x' class='avatar avatar-80 photo' height='80' width='80' loading='lazy'/>    </div>#}

{#                                    <div class="content">#}
{#                                        <div id="comment-inner-311">#}
{#                                            <div class="comment-header">#}

{#                                                John Clark                                <span class="comment-time">June 6, 2016</span>#}
{#                                                <a rel='nofollow' class='comment-reply-link' href='https://gustos.w3.style/recipes/crevette-a-la-marseillaise/?replytocom=311#respond' data-commentid="311" data-postid="185" data-belowelement="comment-inner-311" data-respondelement="respond" data-replyto="Reply to John Clark" aria-label='Reply to John Clark'>Reply</a>#}
{#                                                <div class="comment-vote">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <p>Virtutibus igitur rectissime mihi videris et ad consuetudinem nostrae orationis vitia posuisse contraria. </p>#}
{#                                            <p>Alia quaedam dicent, credo, magna antiquorum esse peccata, quae ille veri investigandi cupidus nullo modo ferre potuerit.</p>#}
{#                                        </div>#}
{#                                    </div>#}

{#                                    <ul class="children">#}
{#                                        <li class="comment odd alt depth-2" id="comment-328">#}

{#                                            <div class="comment-avatar">#}
{#                                                <img alt='' src='https://secure.gravatar.com/avatar/354a3ebc63d9641d4c62c66275f62f40?s=80&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/354a3ebc63d9641d4c62c66275f62f40?s=160&#038;d=mm&#038;r=g 2x' class='avatar avatar-80 photo' height='80' width='80' loading='lazy'/>    </div>#}

{#                                            <div class="content">#}
{#                                                <div id="comment-inner-328">#}
{#                                                    <div class="comment-header">#}

{#                                                        Robert Thompson                                <span class="comment-time">August 9, 2016</span>#}
{#                                                        <a rel='nofollow' class='comment-reply-link' href='https://gustos.w3.style/recipes/crevette-a-la-marseillaise/?replytocom=328#respond' data-commentid="328" data-postid="185" data-belowelement="comment-inner-328" data-respondelement="respond" data-replyto="Reply to Robert Thompson" aria-label='Reply to Robert Thompson'>Reply</a>#}
{#                                                        <div class="comment-vote">#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <p>Epicurei num desistunt de isdem, de quibus et ab Epicuro scriptum est et ab antiquis, ad arbitrium suum scribere? Tum Quintus: Est plane, Piso, ut dicis, inquit.</p>#}
{#                                                </div>#}
{#                                            </div>#}

{#                                        </li><!-- #comment-## -->#}
{#                                    </ul><!-- .children -->#}
{#                                </li><!-- #comment-## -->#}
{#                                #}
{#                            </ul>    </div><!-- #comments -->#}
{#                    </div> <!-- .rw-row -->#}

{#                    <div class="rw-row clearfix">#}
{#                        <div id="respond" class="comment-respond">#}
{#                            <a rel="nofollow" id="cancel-comment-reply-link" href="/recipes/crevette-a-la-marseillaise/#respond" style="display:none;">Cancel reply</a><form action="https://gustos.w3.style/wp-comments-post.php" method="post" id="commentform" class="comment-form">#}
{#                                <div class="comment-form-comment">#}
{#                                    <div class="form-label">Comment  <em class="text-red" title="Required">*</em></div>#}
{#                                    <textarea id="comment" name="comment" required="true" class="normal"></textarea>#}
{#                                </div><div class="clear"></div>#}
{#                                <span class="comment-form-question"><i class="fa fa-question-circle fa-2x"></i></span>#}
{#                                <div class="form-allowed-tags" style="display: none;">#}
{#                                    <span class="ftg-title" style="display: none">You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes: </span> <code>&lt;a href=&quot;&quot; title=&quot;&quot;&gt; </code> <code>&lt;abbr title=&quot;&quot;&gt; </code> <code>&lt;acronym title=&quot;&quot;&gt; </code> <code>&lt;b&gt; </code> <code>&lt;blockquote cite=&quot;&quot;&gt; </code> <code>&lt;cite&gt; </code> <code>&lt;code&gt; </code> <code>&lt;del datetime=&quot;&quot;&gt; </code> <code>&lt;em&gt; </code> <code>&lt;i&gt; </code> <code>&lt;q cite=&quot;&quot;&gt; </code> <code>&lt;s&gt; </code> <code>&lt;strike&gt; </code> <code>&lt;strong&gt; </code></code></div>#}
{#                                <div>#}
{#                                    <div class="form-label">Name  <em class="text-red" title="Required">*</em></div>#}
{#                                    <input name="author" type="text" class="fullwidth" value="" required="true"/>#}
{#                                </div>#}

{#                                <div>#}
{#                                    <div class="form-label">Email  <em class="text-red" title="Required">*</em></div>#}
{#                                    <input name="email" type="text" class="fullwidth" value="" required="true"/>#}
{#                                    <div class="form-description">Your email address will not be published</div>#}
{#                                </div>#}

{#                                <div>#}
{#                                    <div class="form-label">Website</div>#}
{#                                    <input name="url" type="text" class="fullwidth" value=""/>#}
{#                                </div>#}
{#                                <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /> <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>#}
{#                                <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post comment" /> <input type='hidden' name='comment_post_ID' value='185' id='comment_post_ID' />#}
{#                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />#}
{#                                </p></form>	</div><!-- #respond -->#}
{#                    </div>#}
                </div>


            </div> <!-- .rw-content -->

        </div> <!-- .rw-inner -->
    </div> <!-- .rw-container -->

{% endblock %}