/.idea/
/e-nutrition-java/nbproject/private/
/e-nutrition-java/build/
/e-nutrition-java/dist/
/Java Project/nbproject/private/
/e-nutrition-mobile/build
/e-nutrition-mobile/enutrition/nbproject/private/
/e-nutrition-mobile/enutrition/build/
/e-nutrition-mobile/Enutrtion/nbproject/private/
/e-nutrition-mobile/Enutrtion/build/
/e-nutrition-mobile/Enutrtion/dist/
/e-nutrition-mobile/dist/