/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
.tag-bar {
    
    -fx-border-color: lightblue;
    -fx-spacing: 3;
    -fx-padding: 3;
    -fx-max-height: 30;
}

.tag-bar .tag {
    -greencolor :  #a6c550;
    -fx-background-color: -greencolor;
    -fx-border-radius: 5 5 5 5;
}

.tag-bar .tag {
    -fx-text-fill: white;
}

.tag-bar .tag .button{
    -fx-background-color:white;
    -fx-text-fill: blue;
    -fx-font-weight: bold;
}
}
