
{#{% extends 'front/baseforotherpage.html.twig' %}#}
{##}
{#{% block Content2 %}#}
{##}
{##}
{#    <article class="post-classic"><a class="thumbnail-zoom" href="blog-post.html"><span class="thumbnail-zoom-img-wrap"><img class="img-responsive center-block" src="images/blog/post-06-770x480.jpg" width="770" height="480" alt=""></span></a>#}
{#        <div class="post-body">#}
{#            <p class="post-title text-big font-weight-bold text-uppercase text-spacing-100 offset-top-20"><a href="blog-post.html">how much sugar is it OK to eat?</a></p>#}
{#            <!-- List Inline-->#}
{#            <ul class="list-inline list-inline-22 list-inline-dashed-vertical font-weight-bold p">#}
{#                <li><span class="icon icon-xs material-icons-ico material-icons-event text-middle text-gray"></span><span class="text-middle inset-left-7 post-meta">January 15, 2018</span></li>#}
{#                <li><span class="icon icon-xs material-icons-ico material-icons-person text-middle text-gray"></span><span class="text-regular inset-left-4 text-gray text-middle">By:</span><a class="text-middle link-decoration-none text-hover-primary text-gray-light inset-left-4" href="my-philosophy.html">Rita Condon</a></li>#}
{#                <li><span class="icon icon-xs material-icons-ico material-icons-question_answer text-middle text-gray"></span><span class="text-regular inset-left-4 text-gray text-middle">Comments:</span><a class="text-middle link-decoration-none text-hover-primary text-gray-light inset-left-4" href="#">3</a></li>#}
{#            </ul>#}
{#            <p class="offset-top-20">Consuming too much energy – whether from fat or carbohydrates, including sugar – will make you gain weight. If left unchecked, this excess weight increases your risk of lifestyle-related diseases such as diabetes, heart disease and some cancers. In recognition of this, the World Health Organisation (WHO) recommends adults and children...</p>#}
{#            <div class="group-sm offset-top-30"><a class="btn btn-tag btn-primary-gray-outline" href="#">Sugar</a><a class="btn btn-tag btn-primary-gray-outline" href="#">Diet</a><a class="btn btn-tag btn-primary-gray-outline" href="#">Honey</a>#}
{#            </div>#}
{#        </div>#}
{#    </article>#}
{##}
{##}
{##}
{#{% endblock %}#}