<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Coming Soon</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oregano:400%7COpen+Sans:300,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div>
        <div class="page-loader-body">
          <div class="cssload-loader">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page text-center">
      <!-- Page Contents-->
      <main class="page-content" style="background: #191919 url(images/backgrounds/background-01-1920x1019.jpg) center/cover no-repeat">
        <div class="bg-overlay-gray-darken">
          <div class="one-page">
            <div class="container">
              <div class="one-page-header">
                <!--Navbar Brand-->
                <div class="rd-navbar-brand d-inline-block"><a href="index.html"><span class="icon icon-lg fl-great-icon-set-ico fl-great-icon-set-tree108 text-white"></span><img class="img-responsive center-block" src="images/logo-white-160x51.png" width="160" height="51" alt=""></a></div>
              </div>
            </div>
            <!-- Coming Soon-->
            <section class="context-dark">
              <div class="container">
                <div class="row">
                  <div class="section-top-220 section-bottom-110 section-md-111 section-cover row justify-content-sm-center align-items-sm-center">
                    <div class="col-md-10 col-xl-9">
                      <h1 class="offset-lg-top-40">We're getting ready to launch in</h1>
                      <div class="offset-top-40">
                        <!-- TimeCircles-->
                        <div class="DateCountdown" data-date="2019-07-01 00:00:00" data-bg="rgba(255,255,255,0.2)"></div>
                      </div>
                      <p class="text-big offset-top-40">Sign up and we’ll notify you of our launch. We’ll also throw <br class="d-none d-xl-inline-block"> in a freebie for your effort.</p>
                      <!-- RD Mailform-->
                      <form class="rd-mailform text-left offset-top-30" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                        <div class="row justify-content-sm-center">
                          <div class="col-sm-6 col-lg-5 col-xl-4 inset-sm-right-7 inset-xl-left-0">
                            <div class="form-wrap form-wrap-transparent">
                              <label class="form-label text-white" for="maintenance-email">Email</label>
                              <input class="form-input" id="maintenance-email" type="email" name="email" data-constraints="@Email @Required">
                            </div>
                          </div>
                          <div class="col-sm-4 col-lg-3 col-xl-2 offset-top-10 offset-xs-top-0 inset-sm-left-7 text-center text-xl-left">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="one-page-footer">
              <div class="container">
                <p class="text-white">Joanna Smith &copy; <span class="copyright-year"></span> <a class="link-decoration-none text-hover-primary text-white" href="privacy-policy.html">Privacy Policy</a></p>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</html>